dist: trusty
sudo: required
language: c++
git:
    submodules: false
      
before_install:
# Linux
- sudo apt-get install --reinstall ca-certificates
- sudo -E add-apt-repository ppa:beineri/opt-qt58-trusty -y
- sudo apt-get update -qq
- sudo apt-get install --force-yes -qq qt58base qt58tools libqt5scintilla2-dev
- sudo ln -s /usr/include/qt5/Qsci /opt/qt58/include/Qsci
- sudo ln -s /usr/share/qt5/mkspecs/features/qscintilla2.prf /opt/qt58/mkspecs/features/qscintilla2.prf     

script:
  - source /opt/qt58/bin/qt58-env.sh
  - qmake --version
  - which qmake
  - cd src
  - python generate.py -v 2.1.12
  - qmake "CONFIG+=release silent" 
  - make -j"$NPROC"
  - sudo make install
