
dist: trusty
sudo: required
language: c++
git:
    submodules: false
      
before_install:
# Linux
- sudo apt-get install --reinstall ca-certificates
- sudo -E add-apt-repository ppa:beineri/opt-qt591-trusty -y
- sudo apt-get update -qq
- sudo apt-get install --force-yes -qq qt59base qt59tools    

script:
  - source /opt/qt59/bin/qt59-env.sh 
  - wget https://sourceforge.net/projects/pyqt/files/QScintilla2/QScintilla-2.10.1/QScintilla_gpl-2.10.1.tar.gz
  - tar -xvzf QScintilla_gpl-2.10.1.tar.gz
  - cd QScintilla_gpl-2.10.1/Qt4Qt5
  - qmake "CONFIG+=release silent" 
  - make
  - sudo make install

  - qmake --version
  - cd ../../src
  - python generate.py -v 2.1.12
  - qmake "CONFIG+=release silent" 
  - make -j"$NPROC"
  - sudo make install
